<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
<head>
    {%block style%}
    <link rel="stylesheet" href="/media/css/base.css"/>
    <link rel="stylesheet" href="/media/css/jquery-ui-1.8.1.custom.css"/>   
    {%endblock%}
    {%block scripts%}
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    {%endblock%}
    <title>Web BPDA - {%block pagetitle %}Web based bayesian model interface{% endblock %}</title>
</head>
{% endblock %}
<body>
{% block body %}
{% include "web_bayes/title_block.html" %}
</div>
<h1>{%block bodytitle %}{% endblock %}</h1>
<div id="content-frame">    
    {% block content %}
    
    {% endblock %}
</div>        

{% endblock %}
</body>
</html>
