{% extends "web_bayes/form_base.html" %}


{%block bodytitle%}
{% if object.id %}
Edge: {{object}}
{% else %}
New edge
{% endif %}
{%endblock%}


{%block backlink%}
<a  href="{%url view_network network.id %}">Return to Network Definition</a>
{%endblock%}

{% block content %}
{% if object.id %}
<form action="{%url view_edge object.id%}" method="POST">
{% else %}
<form action="{%url create_edge network.id%}" method="POST">
{%endif%}
<table>
{{form}}
</table>

<input type="submit" name="save" value="Save" />
{% if object.id %}
<a href="javascript: network_graph.open_form('{%url delete_edge object.id %}')">Delete</a>
{% endif %}
</form>
{%endblock%}
