{% extends "web_bayes/base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/media/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.form.js"></script>
<script type="text/javascript" src="/media/js/jquery.svg.js"></script>    
<script type="text/javascript" src="/media/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/media/js/network_graph.js"></script>  
{%endblock%}

{% block body %}
<div class="header">
<div style="float:right;">
{% include "web_bayes/title_block.html" %}
</div>
<h1>{%block bodytitle %}{% endblock %}</h1>

{% load tabs %}
{% block tabs %}
<div class="tabs">
&nbsp;<a href="{%url view_network network.id %}" class="{% ifactivetab "definition" %}active{% else %}inactive{%endifactivetab %}">Network Definition</a>
<a href="{%url network_inference network.id %}" class="{% ifactivetab "inference" %}active{% else %}inactive{%endifactivetab %}">Inference View</a>
</div>
{% endblock %}

</div>

<div id="content-frame"> 

<div class="toolbar account-toolbar">
<a href="{% url logout %}">Logout</a>
</div>

<div class="toolbar">
{%block toolbar%}
{%endblock%}
</div>

 
{% block content %}

{% endblock %}

</div>        
{% endblock %}
