/*
    custom styles
*/


body
{
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.main-title
{
    margin: 0px;
    padding 0px;
    font-size: 32px;
    font-style: italic;
    font-weight:bold;
    text-decoration:none;
    display:block;
}

a.main-title : visited
{
    margin: 0px;
    padding 0px;
    font-size: 32px;
    font-style: italic;
    font-weight:bold;
    text-decoration:none;
    display:block;
}

h1
{
    font-weight:normal;
    color:#26393d;
    margin-top: 2px;
    margin-bottom: 2px;
}

h2
{
    font-weight:normal;
    color:#26393d;    
    margin-top: 2px;
    margin-bottom: 2px;
}

table
{
    text-align : left;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}

td,  th 
{
    font-size:1em;
    border:1px solid #26393d;
    padding:3px 7px 2px 7px;
    vertical-align:top;
}

th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#567877;
    color:#ffffff;
}

tr td 
{
    background-color:white;
}

tr.alt td 
{
    color:#000000;
    background-color:#edfbff;
}

td input
{
    border: 1px solid #26393d;
}

table.thin_table
{
    width:auto;   
}

table.invisible tr td, table.invisible tr th
{
    background-color:transparent;    
    color: black;
    border:0px solid #26393d;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

div.highlight
{
    background-color: white;
    width: 100%;
    border: 1px solid #26393d;
}

.add_link
{
    float:right;
    clear:both;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #B9DDFF;
	background-image: url(/media/img/up.gif);
}
.sortdesc {
	background-color: #B9DDFF;
	background-image: url(/media/img/down.gif);
}
.nosort {
	cursor: default;
}

div#outer-align {
    margin:5px;
    width:100%;
}

div.toolbar{
    margin-bottom: 5px;
}

div.account-toolbar{
    margin-top:5px;
    float:right;        
}

.button
{
    cursor: pointer;
    background: #eeeeee; 
    border: 1px solid #bbbbbb; 
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    -moz-user-select: none;
    
    font-size: 11px;
    padding:5px;
    color: black;
    text-decoration:none;
}

td.cpt_cell
{
    padding:0px;
    width:60px;        
}

td.cpt_cell input
{
    width:100%;
    height:100%;
    border-style: none;
    
    background:transparent;
    font-size:medium;
}


div.tabs
{
    border-bottom: 1px solid #26393d;
    padding-top:2px;
    padding-bottom:2px;    
}

div.tabs a
{
    text-decoration:none;
    color:black;
    padding:2px;   

}

a.active
{
   border: 1px solid #26393d;    
   border-bottom: 2px solid white;
   background-color:white;
}

a.inactive
{
  border: 1px solid #26393d;    
  background-color:lightblue;
}

.header
{
    background-color:aliceblue;
}

.header h1
{
    padding:5px;
    margin-top:0px;
}

.title-block
{    
    text-align:right;    
    padding:5px;   
    padding-top:0px;  
    margin-top:0px;
       
}

#canvas
{

}

#canvas > svg
{
    border: 1px solid black;
}

div#dialog-border
{
    border: 1px solid #26393d;   
    margin: 10px;
    background-color: lightblue;
    
}

div#dialog-content
{
    border-top: 1px solid #26393d;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    background-color: white;
    
}

div#backlink
{
  text-align:right;    
}

#content-frame
{
    padding:5px;
}



#startup-actions
{
    width:200px;
    float:left;
}


#startup-actions a
{
    list-style: none outside;
    display:block;
    margin-bottom:5px;    
    margin-left:5px;
}

#network-list
{
    float:left;
}
