<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
<head>
    {%block style%}
    <link rel="stylesheet" href="/media/css/base.css"/>
    {%endblock%}
    {%block scripts%}
    {%endblock%}
        
    <title>Web Bayes- {%block pagetitle %}Web based Bayesian network interface{% endblock %}</title>
</head>
{% endblock %}
<body>
{% block body %}

{% load tabs %}
<div id = "outer-align">
    <div>
    <h1 id="main-title">Web Bayes</h1>
    Developed by <a href="mailto:james.h.saunders@gmail.com">James Saunders</a>
    </div>
    <div id="content-frame">    
        <h1>{%block bodytitle %}{% endblock %}</h1>
        {% block content %}
        
        {% endblock %}
    </div>        
</div>

{% endblock %}
</body>
</html>
