{% extends "web_bayes/form_base.html" %}

{%block bodytitle%}
{% if object.id %}
Edge: {{object}}
{% else %}
New edge
{% endif %}
{%endblock%}


{%block backlink%}
<a  href="{%url view_network network.id %}">Return to Network Definition</a>
{%endblock%}

{% block content %}
<form target="" method="POST">
<table class="invisible">
{{form}}
</table>
<input type="submit" name="save" Value="Save" />
{% if object.id %}
<a href="{%url delete_edge object.id %}">Delete</a>
{% endif %}
</form>
{%endblock%}
