{% extends "web_bayes/form_base.html" %}

{%block bodytitle%}
{% if object.id %}
{{object}}
{% else %}
New Network
{% endif %}
{%endblock%}

{%block backlink%}
{% if object.id %}
<a href="{%url view_network object.id %}">Return to Network Definition</a>
{%endif%}
{%endblock%}

{% block content %}
<form target="" method="POST">
<table>
<tr><th>Version</th><td>{{object.version}}</td></tr>
{{form}}

</table>
<input type="submit" name="save" Value="Save"/>
{% if object.id %}
<a href="{%url delete_network object.id %}">Delete</a>
{% endif %}
</form>
{%endblock%}
