{% extends "web_bayes/base.html" %}



{%block bodytitle%}
{{network}}
{%endblock%}

{% block content %}
<div class="toolbar">
<span class="toolbar">
<a class= "button" href="{%url create_node network.id %}">Add Node</a>
<a class= "button" href="{%url create_edge network.id %}">Add Edge</a>
<a class= "button" href="{%url create_cluster network.id %}">Add Cluster</a>
<a class= "button" href="{%url network_properties network.id %}">Edit Network Details</a>
</span>
</div>

<div class="canvas">
<img id="canvas_image" src="{% url network_definition_svg network.id %}" usemap="#model" alt="Network Definition Graph"/>
{% autoescape off %}
{{map}}
{% endautoescape %}
</div>

{%endblock%}

