{% extends "web_bayes/form_base.html" %}

{%block bodytitle%}
{% if object.id %}
{{object}}
{% else %}
New Cluster
{% endif %}
{%endblock%}

{%block backlink%}
<a  href="{%url view_network object.network.id %}">Return to Network Definition</a>
{%endblock%}

{% block content %}
<form action="{%url view_cluster object.id%}" method="POST">
<table>
{{form}}
</table>
<input type="submit" name="save" value="Save" />
{% if object.id %}
<a href="javascript: network_graph.open_form('{%url delete_cluster object.id %}')">Delete</a>
{% endif %}
</form>
{%endblock%}
