{% extends "web_bayes/network_base.html" %}

{%block bodytitle%}
{{network}}
{%endblock%}

{% load tabs %}
{% block tabs %}
{% activetab "inference" %}
{{ block.super }}
{% endblock %}

{%block toolbar%}
<a class="button" href="{%url perform_inference network.id%}">Perform Inference</a>
<a class="button" href="{%url clear_inference network.id%}">Clear Inferences</a>
<a class="button" href="{%url network_inference_svg network.id%}">Save Inference Diagram</a>
{%endblock%}

{% block content %}

<div class="canvas">
{% autoescape off %}
{{graph}}
{% endautoescape %}
</div>

{%endblock%}

