{% extends "web_bayes/network_base.html" %}

{% block scripts %}
{{ block.super }}
    <script type="text/javascript" src="/media/js/jquery.svg.js"></script>    
    <script type="text/javascript" src="/media/js/jquery.svgdom.js"></script>
    <script type="text/javascript" src="/media/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/media/js/network_graph.js"></script> 
<script>
    $(document).ready(function(){network_graph.setup('#canvas','#canvas > svg',"{% url network_definition_svg network.id %}");});
</script>
{% endblock %}

{%block bodytitle%}
{{network}}
{%endblock%}

{% load tabs %}
{% block tabs %}
{% activetab "definition" %}
{{ block.super }}
{% endblock %}

{%block toolbar%}
<a class= "button" href="{%url create_node network.id %}">Add Node</a>
<a class= "button" href="{%url create_edge network.id %}">Add Edge</a>
<a class= "button" href="{%url create_cluster network.id %}">Add Cluster</a>
<a class= "button" href="{%url network_properties network.id %}">Network Options</a>
{%endblock%}

{% block content %}

<div id="canvas">
{% autoescape off %}
{{graph}}
{% endautoescape %}
</div>
<div id="log"></div>
{%endblock%}

